$TTL 3600
$ORIGIN localdomain.
@ IN SOA dns root (
        20210906
        3600
        900
        604800
        900
    )
{% for hw in hw_list %}
{{ hw.name }} IN A {{ hw.ip }}
{% endfor %}
{% for vm in vm_list %}
{{ vm.name }} IN A {{ vm.ip }}
{% endfor %}
