auth-zones=localdomain=/var/zones/localdomain
config-dir=/etc/pdns-recursor
config-name=recursor.conf
daemon=yes
forward-zones-recurse=.=1.1.1.1;2606:4700:4700::1111
local-address=192.168.1.100 fe80::192:168:1:100%br0
query-local-address=0.0.0.0, ::
